@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
    padding: 0px !important;
}

// used for big "buttons" on mobile
.navbar .nav_element {
    height: 90px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    //transition: ease all .3s;

    @include media-breakpoint-down(lg) {
        height: 70px;
        width: 75px;
    }
}

.navbar .nav_text {
    flex-grow: 1;
}