@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.nav_card {
    padding: .5rem;
    position: static;
    flex-shrink: 0;
    height: min-content;
    margin-right: 20px;
}

.nav_list {
    gap: .25rem;
}

.nav_element {
    display: flex;
    width: 275px;
    align-items: center;
    color: $black;
    text-decoration: none;
    white-space: nowrap;

    &:global(.active) {
        color: $accordion-button-active-color !important;
        background-color: $accordion-button-active-bg !important;
        text-decoration: none;
    }
}

.nav_name {
    flex-grow: 1;
}

.nav_icon {
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    margin-left: 0.5em;
}

.tab_content {
    flex-grow: 1;
}

.icon_ongoing {
    font-size: 0.5em;
    animation: blinker 3s ease-in-out infinite;
}

@keyframes blinker {
    10% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.5;
    }

    90% {
        opacity: 1;
    }
}