@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$col-num-width: 40px;
$col-club-width: 25%;
$col-score-width: 70px;


.catCtr {
    flex-grow: 1;
    width: 100%;
}

.th {
    font-weight: $font-weight-normal;
    color: $text-muted;
    text-align: left !important;

    &.center {
        text-align: center !important;
    }
}

.col {
    overflow: hidden;
    white-space: nowrap;

    &.num {
        width: $col-num-width;
        min-width: $col-num-width;
        max-width: $col-num-width;
        text-align: end;
    }

    &.club {
        width: $col-club-width;
        min-width: $col-club-width;
        max-width: $col-club-width;

        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }

    &.score {
        width: $col-score-width;
        min-width: $col-score-width;
        max-width: $col-score-width;
        text-align: right;
    }

    &.score_submitted {
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}


.table {

    // Highlight border color between thead, tbody and tfoot.
    > :not(:first-child) {
        border-top: $table-border-width;
    }
}

.table_body {
    > :last-child {
        border-bottom: transparent;
    }
}