@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.accordion {
    width: 100%;
}

.accordion_button {
    padding: 1rem 1.25rem;
}

.accordion_header {
    display: flex;
    padding: 0;

    .name {
        flex-grow: 1;
    }

    .icon {
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        margin-right: 0.5em;
    }
}

.accordion_body {
    padding: 0;
}

.icon_ongoing {
    font-size: 0.5em;
    animation: blinker 3s ease-in-out infinite;
}

@keyframes blinker {
    10% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.5;
    }

    90% {
        opacity: 1;
    }
}