@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.scoreboard_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: left;
    gap: 25px;

    @include media-breakpoint-down(xl) {
        justify-content: center;
        gap: 15px;
    }
}