@import "~bootstrap/scss/bootstrap";

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.custom-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.top {
    flex-grow: 0;
}

.center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.content {
    flex-grow: 1;
}

.bottom {
    flex-grow: 0;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
}

.overflow-y {
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overflow-y::-webkit-scrollbar {
    display: none;
}

.simple-animation {
    transition: ease all .3s;
}